.compteur{
    font-size :5em;
    grid-row:1/4;
    text-align: center;
    margin-bottom: 0;
    margin: auto;
}
.container{
    justify-content: center;
    margin: 10% auto;
    padding: 0 15% 0 15%;
    
}

.box{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 60px 60px 60px ;
    justify-content: center;
    border: 3px black solid ;
    border-radius: 10px;
    padding: 5px;
}

.button{
    grid-column: 2/3;
}

.btnplus{
    border-radius: 10px 10px 0 0;
}
.btnmoin{
    border-radius: 0 0 10px 10px;
}

.chill{
    background-color: rgb(239, 86, 86);
}

h1{
    margin-top: 30px;
    text-align: center;
    
}